
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Custom global styles can be added here */

.dm-serif {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}


.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-tight-italic {
  font-family: "Inter Tight", sans-serif;
  font-style: italic
}

.bgline:after {
  content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #827E7A33;
    left: 0;
    right: 0;
    transform: translate(0%, 53%);
}

.leftborder:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 28px;
    background: #827E7A33;
    left: -10px;
}

.fw500 {
  font-weight: 500;
}