@import "tailwindcss";

@font-face {
  font-family: 'Maharlika';
  src: url('/fonts/Maharlika-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url('/fonts/Barlow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-maharlika: "Maharlika", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-barlow: "Barlow", sans-serif;
}

.green-color-with-vector {
  background: url('/src/assets/bgVector/lines.png');
  background-color: rgb(16, 77, 57);
}

.sectio-title1 {
  font-family: "Maharlika";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;

}

.vector-leaf-left-right {
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  background: url('/src/assets/bgVector/leavesleft1.png') left bottom no-repeat,
    url("/src/assets/bgVector/leavesleft.png") right top no-repeat;
  background-size: 22%;
}
.vector-leaf-left-right-v1 {
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  background: url('/src/assets/bgVector/leavesright.png') left bottom no-repeat,
    url("/src/assets/bgVector/leavesleft.png") right top no-repeat;
  background-size: 22%;
}

@media (width <=1200px) {
  .vector-leaf-left {
    background-size: 35%;
  }
}
.vector-leaf-right {
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  background: url('/src/assets/bgVector/leaferightfaded.png') right top no-repeat;
}

@media (width <=1200px) {
  .vector-leaf-left {
    background-size: 35%;
  }
}


.dm-serif {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}


.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-tight-italic {
  font-family: "Inter Tight", sans-serif;
  font-style: italic
}

.bgline:after {
  content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #827E7A33;
    left: 0;
    right: 0;
    transform: translate(0%, 53%);
}

.leftborder:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 28px;
    background: #827E7A33;
    left: -10px;
}

.fw500 {
  font-weight: 500;
}